<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Novo Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input label="Nome:" placeholder="Insira o nome do jogo" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Plataforma:" placeholder="Insira a plataforma" [(ngModel)]="plataforma"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Gênero:" placeholder="Selecione" [(ngModel)]="genero">
        <ion-select-option value="ACAO">Acao</ion-select-option>
        <ion-select-option value="TERROR">Terror</ion-select-option>
        <ion-select-option value="TIRO">Tiro</ion-select-option>
        <ion-select-option value="RPG">Rpg</ion-select-option>
        <ion-select-option value="AVENTURA">Aventura</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Avaliação:" placeholder="Insira a nota do jogo" [(ngModel)]="avaliacao"
        type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Preço:" placeholder="Insira o preço do jogo" [(ngModel)]="preco" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Imagem:</ion-label>
      <ion-button class="addImagem" slot="end">
        <input type="file" (change)="uploadFile($event.target)" />
      </ion-button>
    </ion-item>

  </ion-list>
  <ion-button expand="block" (click)="cadastrar()">Cadastrar <ion-icon name="game-controller-outline"></ion-icon>
  </ion-button>
</ion-content>