<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCadastro" (ngSubmit)="cadastrar()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome" placeholder="Insira o nome do jogo"></ion-input>
      </ion-item>
      <div *ngIf="formCadastro.get('nome')?.touched && formCadastro.get('nome')?.errors?.['required']"
        class="error-message">Nome é obrigatório</div>

      <ion-item>
        <ion-label position="floating">Plataforma</ion-label>
        <ion-input formControlName="plataforma" placeholder="Insira a plataforma"></ion-input>
      </ion-item>
      <div *ngIf="formCadastro.get('plataforma')?.touched && formCadastro.get('plataforma')?.errors?.['required']"
        class="error-message">Plataforma é obrigatória</div>

      <ion-item>
        <!-- <ion-label> Gênero </ion-label> essa opção desconfigurava o botão select, e o mesmo não ficava ajustado ao final do ion-item, sobrando espaço à direita -->
        <ion-select label="Gênero" formControlName="genero" placeholder="Selecione">
          <ion-select-option value="ACAO">Ação</ion-select-option>
          <ion-select-option value="TERROR">Terror</ion-select-option>
          <ion-select-option value="TIRO">Tiro</ion-select-option>
          <ion-select-option value="RPG">Rpg</ion-select-option>
          <ion-select-option value="AVENTURA">Aventura</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="formCadastro.get('genero')?.touched && formCadastro.get('genero')?.errors?.['required']"
        class="error-message">Gênero é obrigatório</div>

      <ion-item>
        <ion-label position="floating">Avaliação</ion-label>
        <ion-input formControlName="avaliacao" type="number" placeholder="Insira a nota do jogo"></ion-input>
      </ion-item>
      <div *ngIf="formCadastro.get('avaliacao')?.touched && formCadastro.get('avaliacao')?.errors?.['required']"
        class="error-message">Avaliação é obrigatória, até uma casa decimal</div>
      <div *ngIf="formCadastro.get('avaliacao')?.touched && formCadastro.get('avaliacao')?.hasError('pattern')"
        class="error-message">Avaliação entre 0 e 10, até uma casa decimal</div>

      <ion-item>
        <ion-label position="floating">Preço em Reais</ion-label>
        <ion-input formControlName="preco" type="number" placeholder="Insira o preço do jogo"></ion-input>
      </ion-item>
      <div *ngIf="formCadastro.get('preco')?.touched && formCadastro.get('preco')?.errors?.['required']"
        class="error-message">Preço é obrigatório, até duas casas decimais</div>
      <div *ngIf="formCadastro.get('preco')?.touched && formCadastro.get('preco')?.errors?.['min']"
        class="error-message">
        Preço com valores positivos
      </div>

      <ion-item>
        <ion-label>Imagem</ion-label>
        <ion-button class="addImagem" slot="end">
          <input type="file" (change)="uploadFile($event.target)" />
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit">Cadastrar <ion-icon name="game-controller-outline"></ion-icon></ion-button>
  </form>
</ion-content>