<ion-header>
  <ion-toolbar>
    <ion-title> Lista de Jogos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let jogo of lista_jogos" (click)="editar(jogo)">
      <ion-avatar slot="end" *ngIf="jogo.downloadURL != null">
        <img src="{{jogo.downloadURL}}" />
      </ion-avatar>
      <ion-avatar slot="end" *ngIf="jogo.downloadURL == null">
        <img src="assets/icon/image.jpg" />
      </ion-avatar>
      <ion-label>
        <strong>{{jogo.nome}}</strong><br />
        <span class="info-jogo">Gênero: {{[jogo.genero]}}</span> <br />
        <span class="info-jogo">Avaliação: {{jogo.avaliacao}}</span><br />
        <span class="info-jogo">Preço: {{jogo.preco}}</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="irParaCadastrar()">
    Adicionar Jogo<ion-icon class="game-icon"  name="game-controller-outline"></ion-icon>
  </ion-button>

  <ion-fab horizontal="start" vertical="bottom">
    <ion-fab-button (click)="logout()" color="danger">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>