:host {
  font-family: "Press Start 2P", cursive;

  ion-content {
    --background: #002240; // Cor azul petróleo
    font-family: "Press Start 2P", cursive; // Fonte retro pixel
    color: yellow; // Cor amarela para todo o texto
  }

  ion-toolbar {
    --background: dodgerblue; /* Gradiente azul celeste */
    border-radius: 20px 20px 0 0;
    text-align: left; // para alinhar o título à esquerda
  }

  ion-item {
    --inner-border-width: 0; // Remove bordas internas
    --background: transparent; // Deixa o background transparente para evitar problemas de sobreposição
    background-color: indigo;
    border-radius: 20px;
    margin-bottom: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  ion-label {
    font-family: "Press Start 2P", cursive;
    font-size: 0.6em;
    flex: none;
    color: rgba(255, 255, 0, 1);
    width: 100%;
    margin-top: 15px;
    line-height: 1.5em;
  }

  ion-fab-button {
    --background: linear-gradient(
      to right,
      #b0e0e6,
      #87cefa
    ); // Gradiente azul celeste
    border-radius: 20px;
    color: yellow;
  }

  ion-button {
    display: block;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    font-family: "Press Start 2P", cursive;

    --background: dodgerblue;
    --color: yellow;
  }

  ion-list {
    background: transparent;
    margin-top: 10px;
  }

  ion-title {
    font-family: "Press Start 2P";
    font-size: 0.8em;
    color: yellow;
  }

  strong {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .info-jogo {
    color: rgba(255, 255, 0, 0.6); // Cor amarela com 60% de opacidade
  }

  .game-icon {
    font-size: 25px;
    margin-left: 10px;
  }

  ion-avatar {
    --border-radius: 15px;
    width: 70px;
    height: 70px;
  }

  ion-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
