<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formDetalhes" (ngSubmit)="editar()">
    <ion-list>

      <ion-item>
        <ion-toggle (ionChange)="habilitarEdicao()">Habilitar Edição</ion-toggle>
      </ion-item>

      <ion-item disabled="{{edicao}}">
        <ion-label position="floating">Nome</ion-label>
        <ion-input placeholder="Insira o nome do jogo" formControlName="nome"></ion-input>
      </ion-item>
      <div *ngIf="formDetalhes.get('nome')?.touched && formDetalhes.get('nome')?.errors?.['required']"
        class="error-message">
        Nome é obrigatório
      </div>

      <ion-item disabled="{{edicao}}">
        <ion-label position="floating">Plataforma</ion-label>
        <ion-input placeholder="Insira a plataforma" formControlName="plataforma"></ion-input>
      </ion-item>
      <div *ngIf="formDetalhes.get('plataforma')?.touched && formDetalhes.get('plataforma')?.errors?.['required']"
        class="error-message">
        Plataforma é obrigatória
      </div>

      <ion-item disabled="{{edicao}}">
        <ion-select label="Gênero:" placeholder="Selecione" formControlName="genero">
          <ion-select-option value="ACAO">Ação</ion-select-option>
          <ion-select-option value="TERROR">Terror</ion-select-option>
          <ion-select-option value="TIRO">Tiro</ion-select-option>
          <ion-select-option value="RPG">RPG</ion-select-option>
          <ion-select-option value="AVENTURA">Aventura</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="formDetalhes.get('genero')?.touched && formDetalhes.get('genero')?.errors?.['required']"
        class="error-message">
        Gênero é obrigatório
      </div>

      <ion-item disabled="{{edicao}}">
        <ion-label position="floating">Avaliação</ion-label>
        <ion-input placeholder="Insira a nota do jogo" formControlName="avaliacao" type="number"></ion-input>
      </ion-item>
      <div *ngIf="formDetalhes.get('avaliacao')?.touched && formDetalhes.get('avaliacao')?.errors?.['required']"
        class="error-message">
        Avaliação é obrigatória, até uma casa decimal
      </div>
      <div *ngIf="formDetalhes.get('avaliacao')?.touched && formDetalhes.get('avaliacao')?.hasError('pattern')"
        class="error-message">
        Avaliação entre 0 e 10, até uma casa decimal
      </div>

      <ion-item disabled="{{edicao}}">
        <ion-label position="floating">Preço em Reais</ion-label>
        <ion-input placeholder="Insira o preço do jogo" formControlName="preco" type="number"></ion-input>
      </ion-item>
      <div *ngIf="formDetalhes.get('preco')?.touched && formDetalhes.get('preco')?.errors?.['required']"
        class="error-message">
        Preço é obrigatório, até duas casas decimais
      </div>
      <div *ngIf="formDetalhes.get('preco')?.touched && formDetalhes.get('preco')?.errors?.['min']"
        class="error-message">
        Preço com valores positivos
      </div>

      <ion-item *ngIf="jogo.downloadURL != null">
        <img src="{{jogo.downloadURL}}" />
      </ion-item>

      <ion-item disabled="{{edicao}}">
        <ion-label>Imagem:</ion-label>
        <ion-button class="addImagem" slot="end">
          <input type="file" (change)="uploadFile($event.target)" />
        </ion-button>
      </ion-item>

    </ion-list>

    <ion-button expand="block" (click)="editar()" color="success" disabled="{{edicao}}">
      Salvar
    </ion-button>
    <ion-button expand="block" (click)="excluir()" color="danger" disabled="{{edicao}}">
      Excluir
    </ion-button>
  </form>
</ion-content>